.cart__link {
  position: relative;

  &:hover .cart__link-icon {
    fill: @green-color;
  }

  &:active .cart__link-icon {
    opacity: 0.3;
  }
}

.cart__link-icon {
  position: absolute;
  top: 3px;
  left: 28px;

  width: 24px;
  height: 19px;

  fill: #d3d2d2;
}

@media (min-width: @tablet-width) {
  .cart {
    width: 264px;
    padding: 31px 0 22px;
  }

  .cart__link {
    width: auto;

    font-size: 17px;
  }

  .cart__name {
    padding-left: 82px;
  }
}

@media (min-width: @desktop-width) {
  .cart {
    width: 266px;
  }
}
