.cart__link {
  position: relative;

  &::before {
    content: "";

    position: absolute;
    top: 3px;
    left: 28px;

    width: 24px;
    height: 19px;

    background-image: url("../img/icon-cart.svg");
    background-repeat: no-repeat;
    background-size: 24px 19px;
    background-position: 0 0;
  }
}

@media (min-width: @tablet-width) {
  .cart {
    width: 264px;
    padding: 31px 0 22px;
  }

  .cart__link {
    width: auto;

    font-size: 17px;
  }

  .cart__name {
    padding-left: 82px;
  }
}

@media (min-width: @desktop-width) {
  .cart {
    width: 266px;
  }
}
