.catalog__wrapper {
  padding: 70px 0 76px;

  background-color: #f1f1f1;
}

.catalog__title {
  width: 260px;
  margin: 0 auto;

  font-size: 27px;
  line-height: 30px;
  text-align: center;
}

.catalog__list {
  .no-style();

  margin-top: 30px;
}

.catalog__item {
  margin-bottom: 30px;
}

@media (min-width: @tablet-width) {
  .catalog__wrapper {
    padding-bottom: 91px;

    background-image: url("../img/bg-zigzag-fill.svg");
    background-repeat: repeat-x;
    background-size: auto 23px;
    background-position: -5px 100%;
  }

  .catalog__title {
    width: 670px;
    margin-top: 25px;

    font-size: 43px;
    line-height: 50px;
  }

  .catalog__list {
    margin-top: 72px;
  }

  .catalog__item {
    margin-bottom: 58px;
  }
}

@media (min-width: @desktop-width) {
  .catalog__wrapper {
    padding-bottom: 119px;

    background-size: auto 34px;
    background-position: 1px 100%;
  }
  .catalog__title {
    width: 1050px;

    font-size: 53px;
    line-height: 57px;
  }

  .catalog__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 110px;
  }

  .catalog__item {
    width: 315px;
  }
}
