.color {
  margin-top: 31px;
  margin-bottom: 0;
}

.color__list {
  .no-style();

  margin-top: 34px;
  padding-left: 62px;

  & li {
    margin-bottom: 41px;
  }
}

@media (min-width: @tablet-width) {
  .color {
    margin-top: 11px;
    padding-top: 65px;
  }

  .color__list {
    width: 500px;
    margin: 0;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    & li {
      width: 250px;
      margin-bottom: 56px;
      padding-left: 81px;
      box-sizing: border-box;
    }

    & li:nth-child(even) {
      padding-left: 93px;
    }
  }
}

@media (min-width: @desktop-width) {
  .color__list {
    width: 875px;
  }
}
