.copyright-text {
  display: block;
  margin-top: 28px;
  margin-left: 37px;

  font-size: 19px;
  line-height: 18px;
}

.copyright__link {
  position: relative;

  font-size: 0;
  text-decoration: none;
  color: #000000;

  &:hover .copyright__link-icon {
    fill: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__link-icon {
  position: absolute;
  top: 22px;
  left: 194px;
  width: 27px;
  height: 34px;

  fill: @green-color;
}

@media (min-width: @tablet-width) {
  .copyright-text {
    margin: 0;
  }

  .copyright__link-icon {
    top: -5px;
    left: 157px;
  }
}
