.features__list {
  .no-style();
}

.features__item {
  min-height: 100px; //временно

  font-size: 17px;
}

@media (min-width: @tablet-width) {
  .features {
    margin-top: 50px;
  }

  .features__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .features__item {
    width: 50%;
  }
}
