.form ul {
  .no-style();
}

.form__title {
  font-size: 27px;
  line-height: 30px;
}

.form__description {
  font-size: 13px;
  line-height: 24px;
  color: @grey-color;
}

.form__fieldset {
  .no-style();

  border: none;
}

.form__legend {
  font-size: 17px;
  line-height: 16px;
  color: @green-color;
  text-transform: uppercase;
}

.form__input,
.form__label,
.form__textarea {
  font-size: 17px;
  line-height: 18px;
}

.form__input,
.form__textarea,
.form__description,
.form__text {
  font-family: "Opensans", "Arial", "Helvetica", sans-serif;
}

.form__input::placeholder,
.form__textarea::placeholder {
  color: @grey-color;

  opacity: 0.3;
}

.form__textarea {
  width: auto;
}

.form__text {
  font-size: 14px;
  line-height: 16px;
  color: @grey-color;
}
