.item-card__description {
  position: relative;

  margin-top: -4px;
  padding: 0 27px;

  border: 1px solid #ededed;
}

.item-card__title,
.item-card__text {
  margin: 0;
}

.item-card__title {
  margin-top: 26px;

  font-size: 17px;
  line-height: 24px;
}

.item-card__text {
  margin-top: 5px;

  font-family: "Opensans", "Arial", "Helvetica", sans-serif;
  font-size: 13px;
  line-height: 30px;
  color: @grey-color;
}

.item-card__price {
  display: block;
  margin-top: 19px;
  margin-bottom: 27px;
  padding-top: 21px;

  line-height: 24px;

  border-top: 1px solid #ededed;
}

.item-card__btn {
  position: absolute;
  bottom: 30px;
  right: 26px;

  width: 21px;
  height: 20px;

  font-size: 0;

  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-size: 21px 20px;
  background-position: 0 0;
}

@media (min-width: @tablet-width) {
  .item-card {
    display: flex;
    flex-wrap: wrap;
    min-height: 330px;
  }

  .item-card__image {
    width: 50%;
    margin-top: -5px;
  }

  .item-card__description {
    width: 50%;
    padding: 0 33px 0 27px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }

  .item-card__title {
    width: 238px;

    font-size: 20px;
  }

  .item-card__text {
    font-size: 15px;
  }

  .item-card__price {
    margin-top: auto;
    margin-bottom: 25px;
    margin-left: 5px;
    padding-top: 23px;

    font-size: 17px;
  }

  .item-card__btn {
    right: 32px;
  }
}

@media (min-width: @desktop-width) {
  .item-card {
    flex-direction: column;
  }

  .item-card__image {
    width: auto;
    min-height: 464px;
    margin: 0;
  }

  .item-card__description {
    width: auto;
    min-height: 196px;
    margin: 0;
  }

  .item-card__title {
    margin-top: 25px;

    font-size: 20px;
  }

  .item-card__text {
    font-size: 15px;
  }

  .item-card__price {
    margin-left: 0;

    font-size: 17px;
  }
}
