.main-nav__additional-links {
  display: none;
}

@media (min-width: @tablet-width) {
 .main-nav {
   position: absolute;
   top: 80px;
   left: 0;

   width: 670px;
 }

 .main-nav__list {
   width: auto;
 }
}

@media (min-width: @desktop-width) {
  .main-nav {
    width: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .main-nav,
  .main-nav__list {
    position: static;
  }

  .main-nav__list li:first-child {
    width: 184px;

    border-right: 1px solid #ececec;
  }

  .main-nav__list li:nth-child(2) {
    padding-left: 34px;
  }

  .main-nav__additional-links {
    position: absolute;
    top: 106px;
    left: 0;

    .no-style();
    display: flex;
  }

  .main-nav__additional-link {
    margin-right: 62px;

    line-height: 24px;
    text-decoration: none;
    color: #000000;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
