.modal {
  display: none;
}

.modal__title {
  font-size: 25px;
  line-height: 30px;
}

.modal__text {
  font-family: "Opensans", "Arial", "Helvetica", sans-serif;
  line-height: 30px;
  color: #444444;
}

.modal__label,
.modal__btn {
  font-size: 17px;
  line-height: 16px;
  color: #444444;
  text-transform: uppercase;
}

.modal__btn {
  color: #ffffff;

  background-color: #63d1bb;
}
