.modal {
  display: none;
}

.modal__title {
  font-size: 25px;
  line-height: 30px;
}

.modal__text {
  font-family: "Opensans", "Arial", "Helvetica", sans-serif;
  line-height: 30px;
  color: @grey-color;
}

.modal__label,
.modal__btn {
  font-size: 17px;
  line-height: 16px;
  color: @grey-color;
  text-transform: uppercase;
}

.modal__btn {
  color: #ffffff;

  background-color: @green-color;
}
