.name {
  margin-top: 8px;
  margin-bottom: 0;
}

.name__list {
  .no-style();

  margin-top: 28px;

  & li {
    display: flex;
    flex-direction: column;
    margin-bottom: 22px;
  }
}

@media (min-width: @tablet-width) {
  .name {
    margin-top: 65px;
    padding-bottom: 11px;
  }

  .name__list {
    width: 500px;
    margin-top: 0;

    & li {
      flex-direction: row;
      margin-bottom: 39px;
    }
  }

  .name__input {
    margin-top: -4px;
    margin-left: 26px;
    padding: 0 0 13px 16px;
  }
}

@media (min-width: @desktop-width) {
  .name {
    padding-bottom: 10px;
  }

  .name__list {
    width: 700px;
    margin-left: 10px;
  }
}
