.page-footer {
  background-color: #f1f1f1;
}

.page-footer__logo {
  display: none;
}

.page-footer__social,
.page-footer__copyright {
  min-height: 80px;
}

.page-footer__copyright {
  box-sizing: border-box;

  border-top: 1px solid #e5e5e5;
}

@media (min-width: @tablet-width) {
  .page-footer__flex-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__logo {
    display: block;
    width: 180px;

    & a[href]:hover .page-footer__logo-image {
      fill: #46c1ae;
    }

    & a[href]:active .page-footer__logo-image {
      opacity: 0.3;
    }
  }

  .page-footer__logo-image {
    width: 102px;
    height: 34px;

    fill: #231f20;
  }

  .page-footer__copyright {
    margin-top: 64px;
    margin-right: 57px;

    border-top: none;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__social {
    width: 400px;
  }
}
