.page-footer {
  background-color: #f1f1f1;
}

.page-footer__logo {
  display: none;
}

.page-footer__copyright {
  box-sizing: border-box;

  border-top: 1px solid #e5e5e5;
}

@media (min-width: @tablet-width) {
  .page-footer__flex-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .page-footer__logo {
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__social {
    width: 400px;
  }
}
