.production {
  margin-bottom: 57px;
}

.production__flex-wrapper {
  border: 1px solid #ececec;
}

.production__title {
  position: relative;

  margin: 0;
  padding: 24px 20px 24px 90px;
  box-sizing: border-box;

  font-size: 17px;
  line-height: 24px;

  &::before {
    content: "";

    position: absolute;
    top: 30px;
    left: 33px;

    width: 32px;
    height: 32px;

    background-image: url("../img/icon-video.svg");
    background-repeat: no-repeat;
    background-size: 32px 32px;
    background-position: 0 0;
  }
}

.production__video {
  min-height: 150px;
  margin: 0;

  background-color: #e6e6e6;
  background-image: url("../img/video-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 260px 150px;
  background-position: 0 0;
}

.production__text {
  margin: 0;
  padding: 27px 40px 25px 33px;

  font-family: "Opensans", "Arial", "Helvetica", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: @grey-color;
}

.production__btn {
  width: 192px;
  margin: 0 auto;
  margin-bottom: 33px;
}

@media (min-width: @tablet-width) {
  .production {
    margin-top: -5px;
    margin-bottom: 63px;
  }

  .production__flex-wrapper {
    position: relative;

    display: flex;
    flex-direction: column;
    margin-top: 513px;
  }

  .production__title {
    padding-top: 38px;
    padding-left: 107px;

    font-size: 20px;

    &::before {
      top: 33px;
      left: 43px;
    }
  }

  .production__video {
    position: absolute;
    top: -456px;

    width: 668px;
    height: 455px;

    background-image: url("../img/video-tablet@1x.jpg");
    background-size: 668px 455px;
  }

  .production__text {
    padding: 8px 43px;

    font-size: 15px;
    line-height: 30px;
  }

  .production__btn {
    width: 584px;
    margin-top: 27px;
    margin-bottom: 45px;
  }
}

@media (min-width: @desktop-width) {
  .production {
    position: relative;

    width: 1050px;
    min-height: 455px;
    margin: 0 auto;
    margin-top: 0;
    margin-bottom: 104px;
  }

  .production__flex-wrapper {
    width: 368px;
    margin-top: 0;
    margin-left: 682px;
  }

  .production__title {
    padding: 95px 60px 24px 78px;

    &::before {
      top: 40px;
      left: 80px;
    }
  }

  .production__video {
    position: absolute;
    top: -1px;
    left: -683px;

    width: 682px;

    background-image: url("../img/video-desktop@1x.jpg");
    background-size: 682px 455px;
  }

  .production__text {
    padding-left: 78px;
  }

  .production__btn {
    width: 230px;
    margin-top: 38px;
    margin-bottom: 60px;
    margin-left: 80px;
  }
}
