.production {
  margin-bottom: 57px;
}

.production__flex-wrapper {
  border: 1px solid #ececec;
}

.production__title {
  position: relative;

  margin: 0;
  padding: 24px 20px 24px 90px;
  box-sizing: border-box;

  font-size: 17px;
  line-height: 24px;

  &::before {
    content: "";

    position: absolute;
    top: 30px;
    left: 33px;

    width: 32px;
    height: 32px;

    background-image: url("../img/icon-video.svg");
    background-repeat: no-repeat;
    background-size: 32px 32px;
    background-position: 0 0;
  }
}

.production__video {
  min-height: 150px;
  margin: 0;

  background-color: #e6e6e6;
  background-image: url("../img/video-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 260px 150px;
  background-position: 0 0;
}

.production__text {
  margin: 0;
  padding: 27px 40px 25px 33px;

  font-family: "Opensans", "Arial", "Helvetica", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: @grey-color;
}

.production__btn {
  width: 192px;
  margin: 0 auto;
  margin-bottom: 33px;
}

@media (min-width: @tablet-width) {
  .production {
    margin-top: 20px;
  }

  .production__flex-wrapper {
    display: flex;
    flex-direction: column;
  }

  .production__video {
    order: -1;
    height: 455px;

    background-image: url("../img/video-tablet@1x.jpg");
    background-size: 668px 455px;
  }

  .production__btn {
    width: 584px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .production {
    position: relative;

    min-height: 455px;
  }

  .production__flex-wrapper {
    width: 367px;
    margin-left: 683px;
  }

  .production__video {
    position: absolute;
    top: 0;
    left: 0;

    width: 668px;
  }
}
