.promo {
  position: relative;
}

.promo__title {
  margin-top: 26px;
  margin-bottom: 6px;
}

.promo__subtitle {
  font-size: 17px;
  color: @green-color;
  text-transform: uppercase;
}

.promo__description,
.promo__data {
  font-family: "Opensans", "Arial", "Helvetica", sans-serif;
  line-height: 24px;
  color: @grey-color;
}

.promo__description {
  margin: 22px 0;
}

.promo__data {
  line-height: 20px;

  & tr {
    display: block;
    margin-left: -5px;
    padding-bottom: 9px;

    border-bottom: 1px solid #ececec;
  }

  & tr:not(:first-child) {
    padding-top: 7px;
  }

  & th {
    width: 96px;
    padding: 0;

    font-weight: normal;
    text-align: left;
  }

  & td {
    width: 164px;
    padding: 0;
  }
}

.promo__image {
  margin-top: 26px;

  background-color: #f1f1f1;
}

.promo__price {
  display: block;
  margin-top: 20px;

  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: @grey-color;
}

.promo__btn {
  margin-top: 26px;
}

@media (min-width: @tablet-width) {
  .promo {
    margin-top: -20px;

    background-image: url("../img/bg-zigzag-fill.svg");
    background-repeat: repeat-x;
    background-size: auto 23px;
    background-position: 34px 0;
  }

  .promo__flex-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .promo__title {
    margin-top: 56px;
  }

  .promo__subtitle {
    width: 90px;
    margin-top: 68px;
    margin-right: 19px;

    line-height: 17px;
    text-align: center;
  }

  .promo__half-width {
    position: relative;

    width: 290px;
    margin-top: 45px;
  }

  .promo__description {
    margin-bottom: 44px;

    font-size: 17px;
    line-height: 30px;
  }

  .promo__data tr {
    width: 294px;
    padding-bottom: 9px;
  }

  .promo__image {
    position: absolute;
    top: 8px;
    right: -378px;

    max-width: unset;
    width: 333px;
    height: 404px;
    margin: 0;
  }

  .promo__price {
    margin-top: 53px;

    font-size: 20px;
  }

  .promo__btn {
    margin-top: 34px;
  }
}

@media (min-width: @desktop-width) {
  .promo {
    margin-top: -25px;

    background-size: auto 37px;
    background-position: 12px 0;
  }

  .promo__flex-wrapper {
    justify-content: left;
  }

  .promo__title {
    z-index: 1;
    
    margin-top: 142px;
  }

  .promo__subtitle {
    order: -1;

    width: 175px;
    margin-top: 157px;
    margin-right: 0;
    padding-left: 40px;
    padding-right: 56px;

    box-sizing: border-box;
  }

  .promo__half-width {
    width: 350px;
    padding-left: 175px;
  }

  .promo__description {
    width: 285px;
    margin-bottom: 53px;
  }

  .promo__image {
    top: -161px;
    right: -525px;

    width: 525px;
    height: 636px;
  }

  .promo__price {
    width: 294px;
    margin-top: 107px;
  }

  .promo__btn {
    width: 292px;
  }
}
