.promo__subtitle {
  font-size: 17px;
  color: @green-color;
  text-transform: uppercase;
}

.promo__description,
.promo__data {
  font-family: "Opensans", "Arial", "Helvetica", sans-serif;
  line-height: 24px;
  color: @grey-color;
}

.promo__data {
  line-height: 20px;
}

.promo__data th {
  font-weight: normal;
  text-align: left;
}

.promo__image {
  background-color: #f1f1f1;
}

.promo__price {
  display: block;

  font-size: 17px;
  line-height: 24px;
  color: @grey-color;
}

@media (min-width: @tablet-width) {
  .promo {
    position: relative;

    min-height: 530px; //временно
  }

  .promo__flex-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .promo__subtitle {
    width: 90px;

    line-height: 17px;
    text-align: center;
  }

  .promo__half-width {
    width: 290px;
  }

  .promo__description {
    font-size: 17px;
    line-height: 30px;
  }

  .promo__image {
    position: absolute;
    top: 96px;
    right: 0;
  }

  .promo__price {
    font-size: 20px;
  }
}
