.promo__subtitle {
  font-size: 17px;
  color: #63d1bb;
}

.promo__description,
.promo__data {
  font-family: "Opensans", "Arial", "Helvetica", sans-serif;
  line-height: 24px;
  color: #444444;
}

.promo__data {
  line-height: 20px;
}

.promo__image {
  background-color: #f1f1f1;
}

.promo__price {
  font-size: 17px;
  line-height: 24px;
  color: #444444;
}
