.review,
.review__text {
  margin: 0;
}

.review__text,
.review__author-nickname {
  font-family: "Opensans", "Arial", "Helvetica", sans-serif;
  line-height: 30px;
  color: @grey-color;
}

.review__author {
  display: block;
  margin-top: 30px;

  font-style: normal;
}

.review__author-name {
  font-size: 17px;
  line-height: 17px;
}

.review__author-nickname {
  display: block;
  margin-top: 9px;

  font-size: 17px;
  line-height: 20px;
}

@media (min-width: @tablet-width) {
  .review__text {
    font-size: 17px;
  }

  .review__author-name {
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .review__text {
    width: 770px;
  }

  .review__author {
    max-width: 525px;
  }
}
