.reviews {
  margin-top: 55px;
}

.reviews__list {
  .no-style();

  margin-top: 24px;
}

.reviews__btn {
  margin-top: 38px;
}

@media (min-width: @tablet-width) {
  .reviews {
    position: relative;

    min-height: 457px;

    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-size: 350px 457px;
    background-position: 0 0;
  }

  .reviews__btn {
    position: absolute;
    top: 0;
    right: 0;
  }
}

@media (min-width: @desktop-width) {
  .reviews {
    width: 1050px;
    margin: 0 auto;

    background-image: url("../img/review@2x.jpg");
  }

  .reviews__wrapper {
    width: 875px;
    padding-left: 175px;
  }
}
