.review__text,
.review__author-nickname {
  font-family: "Opensans", "Arial", "Helvetica", sans-serif;
  line-height: 30px;
  color: #444444;
}

.review__author-name {
  font-size: 17px;
  line-height: 17px;
}

.review__author-nickname {
  line-height: 20px;
}
