.search {
  width: 320px;
  margin: 0 auto;
}

.search__input {
  padding-left: 70px;

  border: none;
}

@media (min-width: @tablet-width) {
  .search__input {
    width: 80px;

    border-left: 1px solid #e7e7e7;
  }
}
