.search {
  padding-bottom: 27px;
}

.search__wrapper {
  width: 260px;
  margin: 0 auto;
}

.search__btn {
  width: 18px;
  height: 24px;
  padding: 0;

  font-size: 0;
  vertical-align: middle;

  cursor: pointer;
  border: none;
  background-color: transparent;

  &:hover .search__btn-icon {
    fill: @green-color;
  }

  &:active .search__btn-icon {
    opacity: 0.3;
  }
}

.search__btn-icon {
  width: 17px;
  height: 17px;

  fill: #d3d2d2;
}

.search__input {
  display: inline-block;
  width: 220px;
  padding: 0;
  padding-left: 23px;

  line-height: 24px;

  border: none;

  &::placeholder {
    color: #000000;
  }
}

@media (min-width: @tablet-width) {
  .search {
    width: 84px;
    padding: 0;

    border-left: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
    box-sizing: border-box;
  }

  .search__wrapper {
    width: auto;
  }

  .search__btn {
    width: 84px;
    height: 88px;

    background-position: 50% 51%;
  }

  .search__input {
    display: none;
  }
}
