.slider__controls {
  box-sizing: border-box;

  border: 1px solid #ececec;
}

@media (min-width: @tablet-width) {
  .slider__controls {
    position: absolute;
    right: 0;
    bottom: 50px;

    border: none;
  }
}
