.slider__controls {
  display: flex;
  margin-top: 34px;
}

.slider__btn {
  width: 130px;
  height: 52px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-size: 0;
  cursor: pointer;

  border: 1px solid #ececec;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 50px 26px;
  background-position: 37px 12px;

  &--prev {
    border-right: none;
    background-image: url("../img/icon-left-arrow.svg");
  }

  &--next {
    background-image: url("../img/icon-right-arrow.svg");
  }
}

@media (min-width: @tablet-width) {
  .slider__controls {
    position: absolute;
    right: 69px;
    bottom: 61px;
  }

  .slider__btn {
    width: 50px;
    height: 26px;

    border: none;

    &--prev {
      background-position: 0 0;
    }

    &--next {
      margin-left: 37px;

      background-position: 0 0;
    }
  }
}

@media (min-width: @desktop-width) {
  .slider__controls {
    right: 19px;
    bottom: 109px;
  }
}
