.social__list {
  .no-style();

  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.social__link {
  font-size: 0;
}

@media (min-width: @tablet-width) {
  .social__list {
    display: flex;
    flex-wrap: wrap;
  }
}
