.to-catalog__title {
  font-size: 27px;
  line-height: 30px;
}

.to-catalog__links-item {
  &--light {
    background-color: #63d1bb;
  }

  &--dark {
    background-color: #56c3b2;
  }
}

.to-catalog__link {
  width: 260px;
  margin: 0 auto;

  font-size: 19px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
}
