.type {
  margin-bottom: 0;
}

.type__list {
  .no-style();

  margin-top: 32px;
  padding-left: 62px;

  & li {
    margin-bottom: 20px;
  }
}

@media (min-width: @tablet-width) {
  .type__list {
    width: 500px;
  }
}

@media (min-width: @desktop-width) {
  .type__list {
    width: 875px;
  }
}
